.search-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    /* width: 100%;
    max-width: 600px; */
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-btn, .clear-btn {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.search-btn:hover, .clear-btn:hover {
    background-color: #e0e0e0;
}

.search-icon, .clear-icon {
    width: 20px;
    height: 20px;
}
div.fade-in {
    animation: fade-in 0.7s ease-in forwards;
  }
  
  div.fade-out {
    animation: fade-out 0.7s ease-out forwards;
  }
  
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      display: none;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
      display: block;
    }
  
    100% {
      opacity: 0;
      display: none;
    }
  }